.payment-section {
  padding: 80px 8%;
  background: #111;
  text-align: center;
}

.payment-card {
  max-width: 400px;
  margin: auto;
  background: #1a1a1a;
  padding: 40px;
  border-radius: 14px;
  color: white;
}

.payment-card h2 {
  margin-bottom: 15px;
}

.payment-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
}

.payment-card button {
  width: 100%;
  padding: 12px;
  background: #ff7a00;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#mpesa-response {
  margin-top: 10px;
  color: #ff7a00;
}